
body{
    margin: 10;
    padding: 10;

    back
}

.car1{
	background-color:red;
}
.mt-50{
	margin-top: 50px;
}
#canvas{
    border: 2px solid bl;
}
p {
  font-size:50px;
}
body{
     background-image: url('https://i.pinimg.com/736x/fe/9b/1c/fe9b1c24fdd7c4dbae2972a0e5670e01.jpg');
     }